html,body {
  font-family:'Hiragino Mincho ProN', serif;
  width: 100%;
  height: 100%;
  min-width: 1200px;
}
.content {
  background: url('../img/bg.png');
  background-size : cover;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.scene {
  color : #333;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  -moz-opacity: 0; /*for Firefox*/
  filter: alpha(opacity=0); /*for IE*/
}


.scene p {
  padding: 0 40px;
  letter-spacing: 0.2em;
  line-height: 2.4em;
  text-shadow: -1px 0px rgba(100, 100, 100, 0.5);
}

.vertical_middle {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
.small_size {
  font-size: 1.5em;
}
.middle_size {
  font-size: 3em;
}
.big_size {
  font-size: 4em;
}



.scene1 {
  background: url('../img/bg1.png');
  background-size : cover;
}
.scene2 {
  background: url('../img/bg2.jpg');
  background-size : cover;
}
.scene3 {
  background: url('../img/bg3.jpg');
  background-size : cover;
  color : #FFF;
  text-shadow: -2px 2px rgba(30, 30, 30, 0.5);
}
.scene4 {
  background: url('../img/bg4.jpg');
  text-shadow: -3px 3px rgba(255, 255, 255, 0.5);
  background-size : cover;
  color: red;
}
.scene5 {
  background: url('../img/bg5.jpg');
  text-shadow: -3px 3px -3px rgba(255, 255, 255, 0.5);
  background-size : cover;
}
.scene6 {
  background: url('../img/bg6.png');
  background-size : cover;
}
.scene7 {
  /*background: url('../img/bg1.png');*/
}
.scene8 {
  /*background: url('../img/bg1.png');*/
}
.scene9 {
  /*background: url('../img/bg1.png');*/
}
.scene10 {
  color : #222;
  background-size : cover;
}

.logo {
  width: 80%;
}

.cap {
  opacity: 0;
  -moz-opacity: 0; /*for Firefox*/
  filter: alpha(opacity=0); /*for IE*/
}

.mt10p {
  margin-top: 10%;
}

.mt20 {
  margin-top: 20px;
}